<h1><%= @portal.title %></h1>
<% if @portal.user.id == current_user.id %>
	<p><%= link_to "edit", edit_portal_path(@portal) %> </p>
<% end %>
<h5><%= @portal.user.email %></h5>
<p><%= @portal.description %></p>
