
body { font-family: 'Open Sans', sans-serif; } 
h1 { 
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

.user_links { font-size: 8pt; }

.in_character, .out_of_character {
    width: 49%;
    box-sizing: border-box;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
}

#mceu_33 { display: none !important; }

#mceu_13 { width: 90% !important; margin: 0 auto;}

.update_title {
    width: 90%;
    margin: 0 auto;
    display: block;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 14pt;
    font-weight: bolder;
    border: none;
}

nav  {
display: inline-block; 
width: 100%;

ul {
min-width: 0;

    list-style: none;
    float: right;
    padding: 0 !important;
    width: auto;

        li { 
            display: inline-block;
            padding: 5px;
        }

    }
}

nav ul li img {width: 25px;}

.alert { 
    color: maroon;
    font-size: 8pt;
    text-align: center;
 }

 .form_only {
    width: fit-content;
    margin: 0 auto;
    input {
    font-size: 14pt;
    padding: 5px;
    }
    .field { margin: 5px 0; }
    h2 { margin-bottom: 0; }
    p { margin-top: 0; }
    .actions { margin-bottom: 15px; }
 }

 .small { font-size: 8pt; }

 .notice { font-size: 8pt; text-align: center; }

 .page-wrapper {
    min-width: 320px;
    width: 90%; 
    max-width: 1366px;
    margin: 0 auto;
 }

 .comment { 
    width: 95%;
    height: 50px;
}

.delete-comment {
    float: right;
    margin-right: 20px;
    a { text-decoration: none; }
}
